/*BODY*/
body{
    background-color: #E9EAED;
    font-family: 'Helvetica';

}
/**************************/
/*GlLOBAL*/

.main{
    margin-bottom: 60px;
}

.box{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    background: #fff;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type:none;  
}

.border-bottom{
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.box-form{
/*        margin-right: 10px;*/
        padding: 20px;
        /*For mobile = 0px !*/
    }

.box-form-left{
        margin-right: 10px;
        padding: 20px;
    }    
    
.box-form-right{
    padding: 20px;
    margin-left: 10px;
}

/**************************/






/* HEADER */ 
/* NAV */ 
.navbar{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.navbar button.topbar_logout{
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

.user-nav{
    float: right;
}
.user-nav>li{
border-left: 1px solid #CCC;
margin-left: 5px;
}

.user-nav li.dropdown{
border-right: 1px solid #CCC;
margin-right: 15px;
}


.nav-user_image img{
    height: 25px;
    margin-right: 10px;
    width: 25px;
    border-radius: 15px;
    float: left;
    top: -3px;
    position: relative;
}

.message_box{
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

/**************************/
/*MAIN*/

.main{
    margin-top: 50px; 
}



/**************************/
/*WALL index*/

.wall_title{
    color: #555;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}

#wall{
    position: relative;
}

.wall{
    min-height: 60px;
    
}
.wall h4{
font-weight: bold;
}

.wall_pagination{
    float:right;
}

.user_image{
    margin-top: 10px;
    float: left;
    width: 100px;
}

.user_image img{
    width: 50px;
    border-radius: 50px;
    height: 50px;
    
}

.circle{
    margin-top: 10px;
}

.circle span{
    font-weight: bold;
    color: #428bca;
}

.wall div.row div.name {
    margin-bottom: 10px;
}

.wall div.row div.city {
   margin-top: 12px;
   margin-bottom: 15px;
}
.wall div.row div.city li{
    font-weight: bold;
    color: #428BCA;
}


.wall div.row div p{
    color: #428bca;
    padding-left: 15px;
}

/*wall number likes, comment, etc*/

.wall div.row div.number{
    padding: 10px;
}

.wall div.row div.number div{
    margin-top: 2px;
    border-radius: 5px;
    border: 1px dashed #428BCA;
    
    padding: 10px;
}

.wall div.row div.number{
    font-size: 14px;
    color: #428bca;
}

.wall div.row div.number span{/*badge*/
    background-color: #428bca;
    font-size: 14px;
    color: white;
}

.wall div.row div.name span{
    font-size: 14px;
}



.wall div.row div.user_localisation  span{
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

/**************************/
/*WALL image Block*/
.wall_block {
    /*SIZE Media query*/
    /*Margin media query*/
    padding-left: 0px;
}

.wall_block div.thumbnail{
  padding: 0px;
  border-radius: 6px;
}

/*hover*/
.wall_block div.hover{
    
    width: 200px;
    height: 300px;
    position: absolute;
    

    
    
}

.wall_block div.hover:hover{
 
}

.wall_block div.hover div{
    display: none;
}

.wall_block div.hover:hover div{
    display: block;

}

.wall_block div.wall_image_block>a{ /*button colors*/
    float: left;
}

.wall_block div.wall_image_block div.hover a{ /*button colors*/
    color: #FFF;
}

.wall_block div.hover button{
    margin: 10px;
    float: right;
}

.wall_block div.hover button span{
  
}
.wall_block div.hover button{
    margin-right: 0px;
    background: white;
    border: 1px solid #AAA;
}

.wall_block div.hover button:hover{

    background: linear-gradient(to bottom,#428BCA,#4592D3 100%);

}

.wall_block img{

    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*Wall image info Block*/
.wall_block div.img_info{
    padding: 15px;

}

.wall_block div p.border{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.wall_block div.img_info p.name{
     color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.wall_block div.img_info p.date{
    font-size: 11px;
    color: #aaa;
    font-weight: normal;

}

.wall_block div.img_info p span.glyphicon{
    color: #428BCA;
}

.wall_block div.img_info p span.glyphicon{
    color: #428BCA;
    margin-right: 5px;
    margin-left: 5px;
}
.wall_block div.img_info p.like_comment{
    color: #428BCA;
    font-weight: bold;

}

.wall_block .wall_image_block button.like{
    float: left;
    position: absolute;
    right: 30px;
    top: 10px; 
    background: #FFF;
    border: 1px solid #AAA;
}

.wall_block .wall_image_block button.like:hover{
    background: #428BCA;
    color: white;

}
.wall_block .wall_image_block button.select_like{
    background-image: -webkit-linear-gradient(top,#D9534F 0,#C12E2A 100%);
}

.wall_block .wall_image_block button.select_like:hover{
    background-image: -webkit-linear-gradient(top,#D9534F 0,#C12E2A 100%);
}

/**************************/
/*WALL show*/

.wall_show .others_picture_block{
    padding: 0px;
    
}

.wall_show .others_picture_block .picture_box{
    padding-right: 0px;
}
.wall_show .others_picture_block .row{
padding-right: 15px;
}

.wall_show .others_picture_block .picture_box img{
    padding: 5px 5px;
}

.wall_show .others_picture_block .picture_box a{
    margin-bottom: 10px;    
}

.wall_show .picture_block {
    padding-left: 0px;
    }
 
.wall_show .picture_block .thumbnail{
    border-radius: 6px;
    margin-bottom: 0px;
    }
   
.wall_show .picture_block .thumbnail img{
    padding: 50px;
    }
    
.wall_show_box{
    min-height: 65px;
}

.wall_show div.user_image_wall{
    
}

.wall_show div.user_image_wall img{
    margin-top: 8px;
    width: 50px;
    border-radius: 50px;
    height: 50px;
}
.wall_show div.user_name{
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.wall_show button.like{
    margin-top: 15px;
    float: right;
}


.wall_show .comment_block{
    padding-right: 20px;
}

.wall_show .comment_block h4{
    margin-top: 8px;
}

.wall_show .comment_block .comment{
    border-top: 2px solid #E3E3E3;
}

.wall_show .comment_block .textarea{
    max-width: 560px;
    width: 540px;
    height: 100px;
}

.wall_show .comment_block .comment_submit{
float: left;
}


/**************************/
/*AdminWall*/

.adminwall .nav>li.dropdown {
    background: #428BCA;
    top: -2px;
    height: 68px;
    position: absolute;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.32);
}

.adminwall .nav>li.dropdown>a:hover {
    background: #428BCA;
}

.adminwall .nav .open>a{
    background: #428BCA;
}

.adminwall .nav .dropdown>a{
    color: white;
    text-align: center;
}

.adminwall .wall_block .wall_image_block button.like {
top: 25px;

}


/**************************/
/*USER*/

/*Show*/

.user h3{
    margin-top: 0px;
}

.user div.row>div{
    padding: 0px;
}

.user div.row form{
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn_image{
    margin-top: 15px;
}

.user_button{
    margin-top: 10px;
    margin-bottom: 10px;
    /*float: right;*/
    width: 100%
}

.box-btn{
/*     margin-right: 10px;*/
     padding: 1px;
}

/*page not found*/
h1.page_not_fund{
   font-size: 63px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;    
}

.user_button .back{
/*    float: left;*/
    margin-left: 20px;
}

.user_button .save{
    float: right;
    margin-right: 20px;
    
}

/*MEDIA QUERY SIZE*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Extra small devices (phones, less than 768px) */
/*Mobile XS*/
@media (max-width: 768px) {  
    
    .box-form{
        margin-right: 0px;
    }
    
    .wall div.row div.number a{
        font-size: 10px;
    }

    .wall div.row div.number a span{/*badge*/
        font-size: 10px;
    }
    
    .adminwall .nav>li.dropdown>a:hover {

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .adminwall .nav>li.open a{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .adminwall .nav>li.dropdown{
        top: -8px;
        height: auto;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .adminwall .nav>li.dropdown>ul>li>a {
        font-weight: bold;
        text-align: center;
    }
    

}

/* IMAGE SIZE !
/*
/*WALL (wall_block img)
/*XS = 345x484
/*SM = 225x300
/*MD = 220x293
/*LG = 270x360

/*Wall show
picture_box 
MD = 130x174
LG = 123x164

*/
/* XSmall devices 
/*XS*/
@media (max-width: 768px) {

.wall_block img{

    
}

}

/* Small devices (tablets, 768px and up) */
/*Tablette SM*/
@media (min-width: 768px) and (max-width: 992px ) { 

.wall_block img{
    /*SM = 225x300*/
    width: 225px;
    height: 300px;
}

}

/* Medium devices (desktops, 992px and up) */
/*PC MD*/
@media (min-width: 992px ) and (max-width: 1200px ) { 

.wall_block{
    padding-right: 17px;
}

.wall_block .wall_image_block img{
    /*MD = 220x293*/
    width: 218px;
    height: 291px;

}

.wall_show .others_picture_block .picture_box img{
    width: 130px;
    height: 172px;
}



}

/* Large devices (large desktops, 1200px and up) */
/*PC LG*/
@media (min-width: 1200px) {  

.wall_block img{
    /*MD = 270x360*/
    width: 270px;
    height: 360px;
}  

.wall_show .others_picture_block .picture_box img{
    width: 162px;
    height: 216px;
    }
 
}



/*Footer*/

.footer{
    background-color: fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 0 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer div.link{
   margin-top: 20px;
   float: left;
}

.footer a{
    margin-right: 20px;
}
    
.logo_footer{
    float: right;
}